<h2>Update your details</h2>
<form ng-submit="put($element.action)">
    <li>Name=======<input type="text" name="firstname" ng-model="data.firstname"><br></li>
    <li>Lastname===<input type="text" name="lastname" ng-model="data.lastname"><br></li>
    <li>Email======<input type="text" name="email" ng-model="data.email"><br></li>
    <li>Bloodtype==<input type="text" name="bloodtype" ng-model="data.bloodtype"><br></li>
    <li>GEO X======<input type="text" name="geo_x" ng-model="data.geo_x"><br></li>
    <li>GEO Y======<input type="text" name="geo_y" ng-model="data.geo_y"><br></li>
    <input type="submit" value="Save changes">
</form>
<form ng-submit="delete($element.action)">
    <input type="submit" value="Delete permanently">
</form>